<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Pascal's Triangle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/static/js/main.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 style="font-family: Arial, Helvetica, sans-serif; text-align: center">Pascal's Triangle
            </h1>
        </div>
        <div class="jumbotron">
        
            Enter a Number( 1 to 20 ): <input type="number" id ="number" value ="" min="1" max="20">
            <button value ="submit" onclick="row();text_show();">Go!</button>
            <h5 id ="output_text" style="text-align: center; display:none">Output</h5>
            <div id = "result" style="text-align: center"></div>
           
        
        
        </div>
       
        
        
        
       

    </div>
</body>